## Web Scraping of Internshala website

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [18]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get("https://internshala.com/jobs/data-science-jobs/page-1/",headers = headers).text

In [137]:
soup = BeautifulSoup(webpage, 'lxml')
com = soup.find_all("div",class_= "individual_internship")
len(com)

41

In [139]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
webpage=requests.get("https://internshala.com/jobs/data-science-jobs/page-1/",headers = headers).text

soup = BeautifulSoup(webpage, 'lxml')
com = soup.find_all("div",class_= "individual_internship")

# Company Names
name_list = []

# Assuming 'com' is a list of all internship divs
for internship in com:  # Iterate over each internship div in 'com'
    location_div = internship.find('p', class_='company-name')  # Find the location div

    # Check if the location div is found and extract the text
    if location_div:
        location = location_div.text.strip()  # Extract the text from the <a> tag inside the location div
        name_list.append(location)
    else:
      name_list.append("No data")

location_list = []
# Assuming 'com' is a list of all internship divs
for internship in com:  # Iterate over each internship div in 'com'
    location_div = internship.find('p', class_='locations')  # Find the location div

    # Check if the location div is found and extract the text
    if location_div:
        location = location_div.find('a').text.strip()  # Extract the text from the <a> tag inside the location div
        location_list.append(location)
    else:
      location_list.append("No data")

experience_list = []
for internship in com:
    experience_div = internship.find('div', class_='row-1-item')

    # Check if the experience div is found and extract the text
    if experience_div:
        experience = experience_div.text.strip()
        experience_list.append(experience)
    else:
      experience_list.append("No data")

type_list = []
for internship in com:
    status_div = internship.find('div', class_='status-li')

    # Check if the experience div is found and extract the text
    if status_div:
      experience = status_div.text.strip()
      type_list.append(experience)
    else:
      type_list.append("No data")

title_list = []
for internship in com:
    status_div = internship.find('h3', class_='job-internship-name')

    # Check if the experience div is found and extract the text
    if status_div:
      experience = status_div.text.strip()
      title_list.append(experience)
    else:
      title_list.append("No data")

salary_list = []
for salary in com:
    salary_div = salary.find('span', class_='desktop')  # The salary info is usually in a 'span' with class 'desktop'

    # Check if the salary div is found and extract the text
    if salary_div:
        salary = salary_div.text.strip()
        salary_list.append(salary)
    else:
      salary_list.append("No data")

df = pd.DataFrame({"Title": title_list,
              "Type":type_list,
              "Company":name_list,
              "CTC":salary_list,
              "Location":location_list,
              "Exp":experience_list})
print(df)

                                      Title           Type  \
0                          Business Analyst   Fresher  Job
1                          Business Analyst        No data
2        Data Operations Associate (NLP/AI)   Fresher  Job
3    Artificial Intelligence (AI) Associate  International
4                         Business Analysis      Part time
5                          Business Analyst   Fresher  Job
6                  Associate Data Scientist  International
7           Junior Machine Learning Manager  International
8                          Business Analyst  International
9                        Big Data Associate  International
10                                  No data        No data
11                 Associate Data Scientist  International
12                         Business Analyst  International
13                           Data Scientist   Fresher  Job
14  Artificial Intelligence (AI) Specialist  International
15                         Big Data Manager  International
16                           Junior Analyst   Fresher  Job
17                               Co-Founder   Fresher  Job
18   Artificial Intelligence (AI) Associate        No data
19                   Data Analytics Manager  International
20         Associate Data Scientist/Analyst   Fresher  Job
21                    Junior AI/ML Engineer  International
22                       Big Data Executive   Fresher  Job
23                           Data Scientist  International
24            Image Labeler/Annotator India  International
25                     Data Manager/Analyst   Fresher  Job
26                           Data Scientist  International
27                           Junior Analyst   Fresher  Job
28  Artificial Intelligence (AI) Specialist        No data
29                            Equity Dealer   Fresher  Job
30                    Senior Data Scientist  International
31        Junior Machine Learning Associate  International
32                            Data Engineer  International
33                           Data Scientist  International
34                    Junior Data Scientist  International
35                   Data Analytics Manager  International
36                         Business Analyst        No data
37                 Data Analytics Associate      Part time
38                 Associate Data Scientist  International
39                    Senior Data Scientist  International
40                    Senior Data Scientist  International

                                              Company                     CTC  \
0                                       Express Rupya   ₹ 2,00,000 - 2,10,000
1                 Daltech Engineering Private Limited              ₹ 2,00,000
2                                             Digit88   ₹ 2,00,000 - 2,50,000
3                  Diffblue (St Louis, United States)         $ 4,200 - 5,100
4                                  Saurabh Enterprise   ₹ 4,00,000 - 5,00,000
5                              Wavity Private Limited              ₹ 2,50,000
6               Inflectra (Clearwater, United States)         $ 4,500 - 5,500
7   Exigo Business Solutions (Gladstone, United St...   ₹ 3,00,000 - 4,00,000
8                     Froged (Orlando, United States)         $ 4,000 - 6,000
9                   Cynet 360 (Denver, United States)         $ 5,000 - 6,500
10                                            No data                 No data
11             Classter (Laguna Beach, United States)         $ 3,600 - 5,000
12               Asset Tiger (Seattle, United States)   ₹ 3,75,000 - 4,00,000
13                                   Persist Ventures   ₹ 7,00,000 - 9,00,000
14          Circuit Tree (Kansas City, United States)   ₹ 5,00,000 - 7,50,000
15               IntellaQuest (Newark, United States)         $ 4,600 - 6,100
16                                          RocSearch              ₹ 4,32,000
17                          Tescom Business Solutions   ₹ 2,00,000 - 3,00,000
18                                          SuperNova   ₹ 3,00,000 - 5,00,000
19                 Tipalti (Charlotte, United States)   ₹ 3,00,000 - 4,00,000
20                                      Softsensor.ai   ₹ 5,00,000 - 6,00,000
21               QNEXT AI (Naperville, United States)   ₹ 6,00,000 - 8,00,000
22                                 Logic Hub Services   ₹ 4,00,000 - 7,00,000
23      LiveCare Support (Los Angeles, United States)         $ 4,000 - 6,000
24             Lemon Recruiting (Zurich, Switzerland)         € 2,970 - 3,500
25                                      Fusion Beauty   ₹ 2,00,000 - 3,00,000
26              Gorza Enterprises (Sydney, Australia)         $ 4,500 - 5,500
27                  Krinati Solutions Private Limited   ₹ 2,00,000 - 2,50,000
28             Betterzila (Changumangu Solutions LLP)  ₹ 7,00,000 - 10,00,000
29                   MS Alpha Capital Consultants LLP              ₹ 2,00,000
30                 Automizy (New York, United States)   ₹ 4,00,000 - 6,00,000
31     Swissmote, Inc. (San Francisco, United States)              ₹ 7,00,000
32     Swissmote, Inc. (San Francisco, United States)              ₹ 7,00,000
33     Swissmote, Inc. (San Francisco, United States)              ₹ 7,00,000
34                 MikMak (Washington, United States)         $ 5,500 - 6,500
35              CadSoft (Hillsborough, United States)         $ 4,000 - 5,000
36                   Orane Consulting Private Limited  ₹ 5,00,000 - 10,00,000
37                                   The Ardee School   ₹ 2,50,000 - 3,00,000
38           Gloss Genius (Sacramento, United States)         $ 6,250 - 6,500
39                   GeoEdge (Phoenix, United States)         $ 6,000 - 7,500
40              MetaMug (Indianapolis, United States)   ₹ 5,00,000 - 8,00,000

          Location        Exp
0           Mumbai  0-2 years
1        Ahmedabad  1-5 years
2   Work from home  0-1 years
3   Work from home  0-5 years
4   Work from home     1 year
5   Work from home  0-1 years
6   Work from home  0-5 years
7   Work from home  0-5 years
8   Work from home  0-5 years
9   Work from home  0-5 years
10         No data    No data
11  Work from home  0-5 years
12  Work from home  0-5 years
13  Work from home    0 years
14  Work from home  0-5 years
15  Work from home  0-5 years
16           Noida  0-2 years
17           Thane  0-2 years
18       Bangalore  0-3 years
19  Work from home  0-5 years
20         Gurgaon  0-1 years
21  Work from home  0-2 years
22  Work from home  0-1 years
23  Work from home  0-5 years
24  Work from home  0-5 years
25           Delhi  0-2 years
26  Work from home    0 years
27         Gurgaon  0-2 years
28  Work from home  2-5 years
29          Mumbai  0-1 years
30  Work from home  0-5 years
31  Work from home     1 year
32  Work from home     1 year
33  Work from home     1 year
34  Work from home  0-5 years
35  Work from home  0-5 years
36           Noida  2-4 years
37           Delhi  1-3 years
38  Work from home    0 years
39  Work from home  0-5 years
40  Work from home  0-5 years

In [132]:
location_list = []

# Assuming 'com' is a list of all internship divs
for internship in com:  # Iterate over each internship div in 'com'
    location_div = internship.find('p', class_='locations')  # Find the location div

    # Check if the location div is found and extract the text
    if location_div:
        location = location_div.find('a').text.strip()  # Extract the text from the <a> tag inside the location div
        location_list.append(location)
    else:
      location_list.append("No data")
# Output the list of locations
location_list

['Mumbai',
 'Ahmedabad',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'No data',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Noida',
 'Thane',
 'Bangalore',
 'Work from home',
 'Gurgaon',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Delhi',
 'Work from home',
 'Gurgaon',
 'Work from home',
 'Mumbai',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Work from home',
 'Noida',
 'Delhi',
 'Work from home',
 'Work from home',
 'Work from home']

In [127]:
experience_list = []
for internship in com:
    experience_div = internship.find('div', class_='row-1-item')

    # Check if the experience div is found and extract the text
    if experience_div:
        experience = experience_div.text.strip()
        experience_list.append(experience)
    else:
      experience_list.append("No data")
experience_list

['0-2 years',
 '1-5 years',
 '0-1 years',
 '0-5 years',
 '1 year',
 '0-1 years',
 '0-5 years',
 '0-5 years',
 '0-5 years',
 '0-5 years',
 'No data',
 '0-5 years',
 '0-5 years',
 '0 years',
 '0-5 years',
 '0-5 years',
 '0-2 years',
 '0-2 years',
 '0-3 years',
 '0-5 years',
 '0-1 years',
 '0-2 years',
 '0-1 years',
 '0-5 years',
 '0-5 years',
 '0-2 years',
 '0 years',
 '0-2 years',
 '2-5 years',
 '0-1 years',
 '0-5 years',
 '1 year',
 '1 year',
 '1 year',
 '0-5 years',
 '0-5 years',
 '2-4 years',
 '1-3 years',
 '0 years',
 '0-5 years',
 '0-5 years']

In [118]:
type_list = []
for internship in com:
    status_div = internship.find('div', class_='status-li')

    # Check if the experience div is found and extract the text
    if status_div:
      experience = status_div.text.strip()
      type_list.append(experience)
    else:
      type_list.append("No data")
type_list

['Fresher  Job',
 'No data',
 'Fresher  Job',
 'International',
 'Part time',
 'Fresher  Job',
 'International',
 'International',
 'International',
 'International',
 'No data',
 'International',
 'International',
 'Fresher  Job',
 'International',
 'International',
 'Fresher  Job',
 'Fresher  Job',
 'No data',
 'International',
 'Fresher  Job',
 'International',
 'Fresher  Job',
 'International',
 'International',
 'Fresher  Job',
 'International',
 'Fresher  Job',
 'No data',
 'Fresher  Job',
 'International',
 'International',
 'International',
 'International',
 'International',
 'International',
 'No data',
 'Part time',
 'International',
 'International',
 'International']

In [124]:
title_list = []
for internship in com:
    status_div = internship.find('h3', class_='job-internship-name')

    # Check if the experience div is found and extract the text
    if status_div:
      experience = status_div.text.strip()
      title_list.append(experience)
    else:
      title_list.append("No data")
title_list

['Business Analyst',
 'Business Analyst',
 'Data Operations Associate (NLP/AI)',
 'Artificial Intelligence (AI) Associate',
 'Business Analysis',
 'Business Analyst',
 'Associate Data Scientist',
 'Junior Machine Learning Manager',
 'Business Analyst',
 'Big Data Associate',
 'No data',
 'Associate Data Scientist',
 'Business Analyst',
 'Data Scientist',
 'Artificial Intelligence (AI) Specialist',
 'Big Data Manager',
 'Junior Analyst',
 'Co-Founder',
 'Artificial Intelligence (AI) Associate',
 'Data Analytics Manager',
 'Associate Data Scientist/Analyst',
 'Junior AI/ML Engineer',
 'Big Data Executive',
 'Data Scientist',
 'Image Labeler/Annotator India',
 'Data Manager/Analyst',
 'Data Scientist',
 'Junior Analyst',
 'Artificial Intelligence (AI) Specialist',
 'Equity Dealer',
 'Senior Data Scientist',
 'Junior Machine Learning Associate',
 'Data Engineer',
 'Data Scientist',
 'Junior Data Scientist',
 'Data Analytics Manager',
 'Business Analyst',
 'Data Analytics Associate',
 'Associate Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [126]:
salary_list = []
for salary in com:
    salary_div = salary.find('span', class_='desktop')  # The salary info is usually in a 'span' with class 'desktop'

    # Check if the salary div is found and extract the text
    if salary_div:
        salary = salary_div.text.strip()
        salary_list.append(salary)
    else:
      salary_list.append("No data")
# Output the list of salary ranges
len(salary_list)

41

In [138]:
pd.DataFrame({"Title": title_list,
              "Type":type_list,
              "Company":name_list,
              "CTC":salary_list,
              "Location":location_list,
              "Exp":experience_list})

,Title,Type,Company,CTC,Location,Exp
0,Business Analyst,Fresher Job,Express Rupya,"₹ 2,00,000 - 2,10,000",Mumbai,0-2 years
1,Business Analyst,No data,Daltech Engineering Private Limited,"₹ 2,00,000",Ahmedabad,1-5 years
2,Data Operations Associate (NLP/AI),Fresher Job,Digit88,"₹ 2,00,000 - 2,50,000",Work from home,0-1 years
3,Artificial Intelligence (AI) Associate,International,"Diffblue (St Louis, United States)","$ 4,200 - 5,100",Work from home,0-5 years
4,Business Analysis,Part time,Saurabh Enterprise,"₹ 4,00,000 - 5,00,000",Work from home,1 year
5,Business Analyst,Fresher Job,Wavity Private Limited,"₹ 2,50,000",Work from home,0-1 years
6,Associate Data Scientist,International,"Inflectra (Clearwater, United States)","$ 4,500 - 5,500",Work from home,0-5 years
7,Junior Machine Learning Manager,International,"Exigo Business Solutions (Gladstone, United St...","₹ 3,00,000 - 4,00,000",Work from home,0-5 years
8,Business Analyst,International,"Froged (Orlando, United States)","$ 4,000 - 6,000",Work from home,0-5 years
9,Big Data Associate,International,"Cynet 360 (Denver, United States)","$ 5,000 - 6,500",Work from home,0-5 years
10,No data,No data,No data,No data,No data,No data
11,Associate Data Scientist,International,"Classter (Laguna Beach, United States)","$ 3,600 - 5,000",Work from home,0-5 years
12,Business Analyst,International,"Asset Tiger (Seattle, United States)","₹ 3,75,000 - 4,00,000",Work from home,0-5 years
13,Data Scientist,Fresher Job,Persist Ventures,"₹ 7,00,000 - 9,00,000",Work from home,0 years
14,Artificial Intelligence (AI) Specialist,International,"Circuit Tree (Kansas City, United States)","₹ 5,00,000 - 7,50,000",Work from home,0-5 years
15,Big Data Manager,International,"IntellaQuest (Newark, United States)","$ 4,600 - 6,100",Work from home,0-5 years
16,Junior Analyst,Fresher Job,RocSearch,"₹ 4,32,000",Noida,0-2 years
17,Co-Founder,Fresher Job,Tescom Business Solutions,"₹ 2,00,000 - 3,00,000",Thane,0-2 years
18,Artificial Intelligence (AI) Associate,No data,SuperNova,"₹ 3,00,000 - 5,00,000",Bangalore,0-3 years
19,Data Analytics Manager,International,"Tipalti (Charlotte, United States)","₹ 3,00,000 - 4,00,000",Work from home,0-5 years
20,Associate Data Scientist/Analyst,Fresher Job,Softsensor.ai,"₹ 5,00,000 - 6,00,000",Gurgaon,0-1 years
21,Junior AI/ML Engineer,International,"QNEXT AI (Naperville, United States)","₹ 6,00,000 - 8,00,000",Work from home,0-2 years
22,Big Data Executive,Fresher Job,Logic Hub Services,"₹ 4,00,000 - 7,00,000",Work from home,0-1 years
23,Data Scientist,International,"LiveCare Support (Los Angeles, United States)","$ 4,000 - 6,000",Work from home,0-5 years
24,Image Labeler/Annotator India,International,"Lemon Recruiting (Zurich, Switzerland)","€ 2,970 - 3,500",Work from home,0-5 years
25,Data Manager/Analyst,Fresher Job,Fusion Beauty,"₹ 2,00,000 - 3,00,000",Delhi,0-2 years
26,Data Scientist,International,"Gorza Enterprises (Sydney, Australia)","$ 4,500 - 5,500",Work from home,0 years
27,Junior Analyst,Fresher Job,Krinati Solutions Private Limited,"₹ 2,00,000 - 2,50,000",Gurgaon,0-2 years
28,Artificial Intelligence (AI) Specialist,No data,Betterzila (Changumangu Solutions LLP),"₹ 7,00,000 - 10,00,000",Work from home,2-5 years
29,Equity Dealer,Fresher Job,MS Alpha Capital Consultants LLP,"₹ 2,00,000",Mumbai,0-1 years
30,Senior Data Scientist,International,"Automizy (New York, United States)","₹ 4,00,000 - 6,00,000",Work from home,0-5 years
31,Junior Machine Learning Associate,International,"Swissmote, Inc. (San Francisco, United States)","₹ 7,00,000",Work from home,1 year
32,Data Engineer,International,"Swissmote, Inc. (San Francisco, United States)","₹ 7,00,000",Work from home,1 year
33,Data Scientist,International,"Swissmote, Inc. (San Francisco, United States)","₹ 7,00,000",Work from home,1 year
34,Junior Data Scientist,International,"MikMak (Washington, United States)","$ 5,500 - 6,500",Work from home,0-5 years
35,Data Analytics Manager,International,"CadSoft (Hillsborough, United States)","$ 4,000 - 5,000",Work from home,0-5 years
36,Business Analyst,No data,Orane Consulting Private Limited,"₹ 5,00,000 - 10,00,000",Noida,2-4 years
37,Data Analytics Associate,Part time,The Ardee School,"₹ 2,50,000 - 3,00,000",Delhi,1-3 years
38,Associate Data Scientist,International,"Gloss Genius (Sacramento, United States)","$ 6,250 - 6,500",Work from home,0 years
39,Senior Data Scientist,International,"GeoEdge (Phoenix, United States)","$ 6,000 - 7,500",Work from home,0-5 years
40,Senior Data Scientist,International,"MetaMug (Indianapolis, United States)","₹ 5,00,000 - 8,00,000",Work from home,0-5 years

In [133]:
print(len(title_list))
print(len(type_list))
print(len(name_list))
print(len(salary_list))
print(len(location_list))
len(experience_list)

41
41
41
41
41

41